@font-face {
  font-family: "aileronregular";
  src: url("fonts/aileron-regular-webfont.woff2") format("woff2"),
    url("fonts/aileron-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: #f1faee;
  --head-txt-color: #a8dadc;
  --head-bg-color: #457b9d;
  --card-bg-color: #1d3557;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
  font-family: "aileronregular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: var(--head-txt-color);
  background-color: var(--head-bg-color);
  padding: 1.5rem 0;
}

.cards-sec {
  margin: 5rem 0;
  width: 80%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
}

.card,
#new-btn {
  width: 30ch;
  border-radius: 8px;
  padding: 1rem 0;
  font-size: 1.1rem;
}

.card {
  background-color: var(--card-bg-color);
  color: var(--head-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
}

.card p:first-child,
.card p:nth-child(2) {
  font-weight: 700;
}

.card p:first-child {
  font-size: 1.5rem;
}

.card p:nth-child(2) {
  font-size: 1.2rem;
}

label {
  display: flex;
  gap: 0.4rem;
}

#new-btn {
  background-color: var(--head-txt-color);
  color: var(--card-bg-color);
  border: none;
}

#new-btn:hover {
  background-color: var(--card-bg-color);
  color: var(--head-txt-color);
}

#new-btn p {
  font-size: 1.5rem;
  font-weight: 700;
}

dialog {
  background-color: var(--head-bg-color);
  color: var(--head-txt-color);
  width: 30ch;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  margin: auto;
  padding: 1.5rem;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

dialog form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
}

dialog form label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

dialog form input[type="text"],
dialog form input[type="number"] {
  appearance: none;
  width: 30ch;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 0.5rem;
}

dialog form input[type="number"]:invalid {
  border: 1px solid red;
}

/* .form-btns {
  display: flex;
  gap: 1rem;
} */

dialog form button {
  appearance: none;
  background-color: var(--head-txt-color);
  color: var(--card-bg-color);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
}